<div class="container">
    <div class="card row news-card">
        <h5 class="card-header">Header</h5>
        
        <div class="card-body">
            <p class="card-text">Content</p>
            
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <small>nblike</small>
                    </div>
                    <div class="col-8">
                    </div>
                    <div class="col-2 text-end">
                        <small>nbCom</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer container">
            <div class="row" >
                <button type="button" class="col-6 btn btn-primary">J'aime</button>
                <button type="button" class="col-6 btn btn-secondary">Commenter</button>
                <!-- <div class="">
                    J'aime
                </div>
                <div class="">
                    Commenter
                </div> -->
            </div>
        </div>
    </div>
    <div class="card row news-card">
        <h5 class="card-header">Header</h5>
        
        <div class="card-body">
            <p class="card-text">Content</p>
            
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <small>nblike</small>
                    </div>
                    <div class="col-8">
                    </div>
                    <div class="col-2 text-end">
                        <small>nbCom</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer container">
            <div class="row" >
                <button type="button" class="col-6 btn btn-primary">J'aime</button>
                <button type="button" class="col-6 btn btn-secondary">Commenter</button>
            </div>
        </div>
    </div>
</div>
