<!-- <div class="container"> -->
    <div class="row">
        <div class="col-10">
            <!-- <div class="container">
                <div class="row"> -->
                    <app-new-post></app-new-post>
                <!-- </div>

                <div class="row"> -->
                    <app-news></app-news>
                <!-- </div>
            </div> -->
        </div>
        <div class="col-2">
            <app-friendship></app-friendship>
        </div>
    </div>
<!-- </div> -->